---
// src/components/ghost.astro
// Fantôme simple qui utilise les filtres thématiques globaux

import OptimizeImage from './optimize_image.astro';

export interface Props {
  className?: string;
  style?: string;
}

const { 
  className = '',
  style = ''
} = Astro.props;
---

<div 
  class={`ghost-simple ${className}`}
  style={style}
>
  <OptimizeImage 
    src="/src/assets/ghost500x500.png" 
    alt="ooOOOOooo" 
    widths={[125]}
    class="ghost-img theme-filtered"
    loading="lazy"
    transition:name="ghost"
  />
</div>

<style>
  .ghost-simple {
    position: absolute;
    width: 125px;
    height: 125px;
    user-select: none;
    z-index: 5;
  }
</style>