---
const year = new Date().getFullYear();
---

<footer>
  <div class="container mx-auto px-4 py-6">
    <div class="flex flex-col md:flex-row justify-between gap-y-4 items-center">
      <p class="text-sm">
        <strong>Contact:</strong>
        <span class="email-copy">briec2000@emailasso.net</span>
      </p>
      <div class="flex items-center gap-4">
        <p class="text-sm text-balance">
          &copy; {year} Briec2000 - Tous droits réservés
        </p>
        <span class="inline">|</span>
        <a href="/legal/" class="text-sm text-balance text-right">Mentions légales & Confidentialité</a>
      </div>
    </div>
  </div>
</footer>
<style>
  footer {
    background-color: var(--color-secondary);
    color: white;
  }

  footer span,
  footer a {
    color: white !important;
  }

  /* S'assurer que les paragraphes dans le footer n'ont pas de margin par défaut */
  footer p {
    margin-bottom: 0;
  }
</style>