---
const year = new Date().getFullYear();
---

<footer>
  <div class="container mx-auto px-4 py-6">
    <div class="flex flex-col md:flex-row justify-between items-center">
      <p class="text-sm mb-4 md:mb-0">
        <strong>Contact:</strong> 
        <span class="email-copy">briec2000@emailasso.net</span>
      </p>

      <p class="text-sm">
        &copy; {year} Briec2000 - Tous droits réservés
      </p>
    </div>
  </div>
</footer>

<style>
  footer {
    background-color: var(--color-secondary);
    color: white;
  }
  
  footer span {
    color: white !important;
  }
</style>